<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <title>SmokeSignals</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <script type="text/javascript" src="http://localhost:9292/faye.js"></script>

  <script type="text/javascript" 
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC8VBLtAUvAfUww43qrITN3k5VhVN4QyDs&sensor=true">
  </script>

  <script type="text/javascript">
    var SS = {};
    SS.locations = <%= raw session[:locations] %>;
  </script>

  <%= render :partial => '/shared/js_includes' %>
  <%= csrf_meta_tags %>


  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
  </style>

</head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_url(secure: true), method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_url %>
    <% end %>

    <%= yield %>

  </body>
</html>
